<h1 class="hero-cico">Heroku DB cross-fastweb-ls</h1>
<hr class="h_cool_line" />
<%@ls_assets.split('\n').each do |line| %>

  <div>
  	<strong><%=line%></strong>
  </div>

<%end%>
<hr class="h_cool_line" />

<%@ls_images.split('\n').each do |line| %>

  <p>
  	<strong><%=line%></strong>
  </p>

<%end%>

<%@ls_compiled_assets.split('\n').each do |line| %>

  <p>
  	<strong><%=line%></strong>
  </p>

<%end%>
