<%=render 'layouts/elyts'%>

<div class="row-fluid">
	<div class="span12">
		<%=render 'layouts/main_navbar'%>
    </div>
</div> 

<hr class="h_cool_line"/>

<div class="row-fluid">
	<div class="span12">    
		<div class="hero-cico">
	  		<span><%=t("utenti.create.confirm_registration")%></span>
	  		<p class="high"><%=t("utenti.create.confirm_registration_explanation")%></p>
	  	</div>
	</div>
    
</div>
