<div id="myCarousel" class="carousel slide" style="border: solid 2px #444;">
    
    <!-- Carousel items -->
    
    <div class="carousel-inner">
    	
    	<div class="item active">
    	 
    		<div class="image_inside_item_active">
    			<%= image_tag( @product.assets.first.image(size) )%>	
    	    </div>
    	  <!--Ricorda che se non hai caricato immagini, 
    	  	per default /images/medium/missing.png  -->
    	
    	</div> 
    	
    	<%@product.assets.each do |asset| %>
    	  
    	  <div class="item"> 
    		  <div class="image_inside_item_active">
    		  	 	<%= image_tag asset.image(size) %>
    		  </div>
          </div>
    	
    	<%end%>
    
    </div>
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right &#x2192;" href="#myCarousel" data-slide="next">&rsaquo;</a>
    
</div>