// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts_shopping{
   margin-top:5%;
  font-size: 150%; 
}

.carts_number_of_items{
  font-size: 200%;
  font-weight: bold;
 
}
