<%=render 'layouts/elyts'%>
<%=render 'layouts/banner'%>
<hr class="h_cool_line" />
<%=render 'layouts/main_navbar'%>
<!-- Flash messages -->
<div class="row-fluid">
  <div class="span12" id="flash_message_zone">
     <%=render 'shared/flash_messages'%>
   </div>
</div>
<hr class="h_cool_line" />
